main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}