body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    max-width: 640px;
    background-color: #aabbee;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}